<div>
  <div [ngBusy]="busy"></div>

  <div class="container">
    <div class="card">
      <h3 class="card-header">Person</h3>
      <div class="card-block">
        <div class="row">
          <button class="btn btn-primary mr-sm-1">Edit</button>
          <button class="btn btn-danger mr-sm-1" (click)="deletePerson()">Delete</button>
        </div>
        <div class="row mt-sm-3">
          <div class="col-md-2 text-right">Person ID:</div>
          <div class="col">{{person.personId}}</div>
        </div>
        <div class="row">
          <div class="col-md-2 text-right">Name:</div>
          <div class="col">{{person.name}}</div>
        </div>
        <div class="row">
          <div class="col-md-2 text-right">User Data:</div>
          <div class="col">{{person.userData}}</div>
        </div>

      </div>
    </div>

    <div class="card">
      <h3 class="card-header">Faces</h3>
      <div class="card-block">
        <button class="btn btn-primary mb-sm-2" (click)="addPersonFace()">New Face</button>

        <table class="table table-striped table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Face ID</th>
              <th>Image</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let faceId of person.persistedFaceIds">
              <td>{{faceId}}</td>
              <td>
                <img [src]="" alt="">
              </td>
              <td>
                <a class="btn btn-info btn-sm mr-sm-1" [routerLink]="['faces', faceId]">View</a>
              </td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>


  </div>
</div>